/* Raw colors without presumed meaning */
$color-mint: #00CF96;
$color-bright-green: #48E609;
$color-ocher: #CFB92D;
$color-orange: #E68627;
$color-red: #DB2725;

$color-gray-dark: #222222;
$color-gray: lighten($color-gray-dark, 10%);
$color-gray-light: #dddddd;

/* Colors by abstract purpose */
$color-brand: $color-mint;
$color-focus: $color-ocher;
$color-run: $color-mint;
$color-connect: $color-orange;
$color-error: $color-red;

$color-text-heading: $color-gray-dark;
$color-text-aside: $color-gray-light;
$color-text-running: $color-gray;
$color-text-button-inverse: white;

/* Colors by application */
$color-network-any-state: rgba($color-brand, 0.2);
$color-network-active-state: $color-orange;
$color-network-unselected-text: $color-text-running;
$color-network-selected-text: $color-text-heading;
