// Height of the header bar
$header-height: 2.75em;

// Global margins/paddings
$level-0-padding-left-right: 0.6rem;

// Toolbar
$bar-padding: 0 $level-0-padding-left-right;

// Aspects of inspector and sound editor on the right
$auxiliary-editor-padding-top: 0;
$auxiliary-editor-padding-bottom: 0;
$auxiliary-editor-padding-left: $level-0-padding-left-right;
$auxiliary-editor-padding-right: $level-0-padding-left-right;
$auxiliary-editor-padding: $auxiliary-editor-padding-top $auxiliary-editor-padding-right $auxiliary-editor-padding-bottom $auxiliary-editor-padding-left;