$header-height: 2.75em;

$auxiliary-editor-padding-top: 0;
$auxiliary-editor-padding-bottom: 0;
$auxiliary-editor-padding-left: 0.6em;
$auxiliary-editor-padding-right: 0.6em;
$auxiliary-editor-padding: $auxiliary-editor-padding-top $auxiliary-editor-padding-right $auxiliary-editor-padding-bottom $auxiliary-editor-padding-left;